* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* body of the pg. */
body {       
    height: 100vh;
    background: linear-gradient(to right, #002147, #004e92);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
}

.form-box {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

.form-box h2 { 
    margin-bottom: 20px;
    color: #002147;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #002147;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-box button:hover {
    background: #00152f;
}

.switch {
    margin-top: 10px;
    font-size: 14px;
}

.switch span {
    color: #004e92;
    cursor: pointer;
    font-weight: bold;
}

.error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.hidden {
    display: none;
}
